/* Composant Bouton scroll */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .scroll-to-top button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: white;
    cursor: pointer;
  }
  
  .scroll-to-top button:hover {
    background-color: cadetblue;
    color: white;
  }
  