/* Composant Menu Déroulant 1 Dropdown*/


.dropdown-menu {
  width: 15vh;
  position: absolute;
  top: 85px;
  list-style: none;
  text-align: start;
  animation: dropdownAnimation 0.5s ease; /* Apply animation */
  margin:auto;
  }


  @keyframes dropdownAnimation {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .dropdown-menu li {
    cursor: pointer;
    text-align: center;


  }
  
  .dropdown-menu li:hover {
    color: white !important;
    text-decoration: none;
   
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
    border: solid 2px rgb(255, 255, 255);
    padding: 15px;
    font-size: 25px;
  }


  /* Style pour la mise en page responsive */
  @media screen and (max-width: 1024) {
/* largeur de l'écran est inférieure ou égale à 1024px */

    .fa-caret-down {
      display: none;
    }



  }