/* Composant Footer */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}


.boxparentfooter {
  height: auto;
  display: flex;
  align-items: center;
  justify-content:space-between;
  font-size: 1.5rem;
  padding: 0;
  width: 100%;
  z-index: 1;
  background: linear-gradient(30deg, cadetblue, rgb(0, 0, 0));
  position: relative;
  top:5vh;
  border-radius: 3px;
}

.boxchildrenfooter {
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  padding: 5px;
  width: auto;
  margin-top: 1%;
  border-radius: 5px;
  margin-left: 15px;

  
}

.boxchildrenfooter > p{

  font-size: 17px;
  color: white;

  
}

#titlefooter {
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: auto;
  font-weight: bold;
  font-size: 25px;

  
}

#fb1,
#inst1,
#x1,
#l1,
#y1 {
  width: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.socialnetworkfooter {
  width: auto;
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 7px;
  border-radius: 5px;
  margin-top:1%;

}
.copyright> p{
  text-align: justify;
  font-weight: 400;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 17px;
}

.copyright{

  display: flex;
  flex-direction:column;
  padding: 5px;
  width: auto;
  font-size: 55px;
}



