
/* Composant Navbar*/

.navbar{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    min-height: 85px;
    color: rgb(255, 255, 255);
    z-index: 1000!important;
   
}

.navbar__link{

    font-size: 1.5em;
    text-decoration: none;

}

li.navbar__item{

    margin: auto;
    background:tranparent;
    margin: 2vh;
    cursor: pointer;

}

li.navbar__itemslideInDown-2mobile::marker{

    margin: auto;
    background:tranparent;
    margin: 2vh;
    cursor: pointer;
    padding: 4%;

}

ul {
    list-style-type: none; 
}

ol {
    list-style-type: none;

}

#log1{

   display: none;
}

.navbar__logo, #welcome{

    font-size: 2vw;
    position: relative!important;

}



@keyframes scrollDown {
    0% {
        transform: translateY(-50px); /* Commence 50px plus haut */
        opacity: 0; /* Début de l'animation avec une opacité de 0 */
    }
    100% {
        transform: translateY(0); /* Termine à sa position originale */
        opacity: 1; /* Opacité à 1 à la fin de l'animation */
    }
}

.navbar-bg {
    background-color: rgb(32, 32, 32); /* couleur sur la navbar défilante en background color */
    color: rgb(255, 255, 255);
    height: 85px;
    cursor: pointer;
    animation: fadeIn 0.5s ease-in;
   

}

.navbar-bg a {
    animation: fadeIn 0.5s ease-in, scrollDown 0.5s ease-in; /* Animation scrollDown aux liens de la navbar défilante */
    display: inline-block; 

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

    
    .navbar-bg .navbar_link{
    
    color: #fff;
    
    }
    
    .navbar-bg .navbar_link:hover{
    
    color: cadetblue;
    }

.navbar__links{

    display: flex;

}

.navbar__link{

    padding:0 0.2rem;
    color: rgb(255, 255, 255)!important;
}


.navbar__burger{

    width: 40px;
    height:40px;
    background-color: transparent;
    border: none;
    color: inherit;

}

.navbar__item.slideInDown-3mobile,
.navbar__item.slideInDown-7mobile,
.navbar__item.slideInDown-8mobile
{

    display: none!important;
}


/* Style pour la mise en page responsive */
@media screen and (max-width: 1024px){
/* largeur de l'écran est inférieure ou égale à 1024px */


    .homeimage{

        padding-bottom: 0;
    }


    .navbar-bg {
        
        height: 85px;
        
    
    }

    .navbar__links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed!important;
        right: 0;
        bottom: 0;
        width: 100vw; 
        height: 100vh;
        background: linear-gradient(30deg, cadetblue, rgb(0, 0, 0));
        visibility: hidden;
        transition: all 0.8s ease-out;
        z-index: 1000!important;
    }

.navbar__logo{

    font-size: 5vw;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
}


.show-nav .navbar__links{
    right:0;
    width: 100vw;
    visibility: visible;

}

.navbar__item::after{

    content:"";
    display: block;
    margin:0 auto;
    width: 3vw;
    height: 1px;
    background:#FFF;


}

.navbar__item:last-child::after{

    display: none;
}

.navbar__link{

    display: block;
    font-size: 4vw;

}

.navbar__burger{

display: block;
position: fixed;
top:1rem;
right: 1rem;
z-index: 1500;
}

.navbar__burger:hover{

    cursor: pointer;
    }

    .burger-bar,
    .burger-bar::before,
    .burger-bar::after { /* création burger + animation */
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-right: 95px;
    
    }




.burger-bar::before,
.burger-bar::after{

    content:"";
    position: absolute;
    left: 0;
}

.burger-bar::before
    {
        transform: translateY(-12px);


    }

.burger-bar::after
    {
        transform: translatey(12px);


    }

.show-nav .burger-bar{

background: transparent;
width: 0;
        
}

.show-nav .burger-bar::before{

transform: rotate(45deg)
}

.show-nav .burger-bar::after{

    transform: rotate(-45deg);
    }

/* burger button animation */

.navbar__item{

    transform: translateY(100vh);
}

.show-nav .navbar__item{

    transform: translateY(0);
    }

.show-nav .slideInDown-1mobile,
.show-nav .slideInDown-2mobile,
.show-nav .slideInDown-3mobile,
.show-nav .slideInDown-4mobile,
.show-nav .slideInDown-5mobile,
.show-nav .slideInDown-6mobile,
.show-nav .slideInDown-7mobile,
.show-nav .slideInDown-8mobile


{

    transition: all 0.5s ease-out;
    padding: 1vw;
    

/* animaton vers le haut  */

}

.show-nav .slideInDown-1mobile:hover,
.show-nav .slideInDown-2mobile:hover,
.show-nav .slideInDown-4mobile:hover,
.show-nav .slideInDown-5mobile:hover,
.show-nav .slideInDown-8mobile:hover,
.navbar__item.slideInDown-3mobile:hover


{

    transition: all 0.4s ease-out;
    padding-right: 15px;

    

}/* animaton au survol des liens */


li.navbar__item.slideInDown-6mobile::after,
.dropdown-menu,
.dropdown-menu2  {
    display: none;
    transition: none;
}


.navbar__item.slideInDown-2mobile {
    display: block;
}


.navbar__item.slideInDown-2mobile
.navbar__item.slideInDown-4mobile
.navbar__item.slideInDown-5mobile
.navbar__item.slideInDown-8mobile
.navbar__item.slideInDown-3mobile


> .navbar__link:hover {
    
    transition: all 0.4s ease-out;
    font-weight: 800;

  }
  

  .navbar__item.slideInDown-3mobile{

    display: block!important;
    
    }


    .navbar__item.slideInDown-8mobile{

        display: block!important;
    }

   

}






